html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

#content {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

/*
  ===================
  Navigation Bar
  ===================
*/

.nav {
  display: flex;
  justify-content: center;
  gap: 2em;
  background-color: rgb(221, 0, 49);
  padding: 1em 0 0 0;
}

.nav button {
  width: 6em;
  height: 2em;
  font-size: 26px;
  background-color: white;
  border-style: none;
  border-radius: 6px 6px 0 0;
}

.nav button:hover {
  cursor: pointer;
  color: rgb(221, 0, 49);
}


/*
  ===================
  Home Page
  ===================
*/

#page {
  display: grid;
  grid-template-columns: 1fr minmax(600px, 3fr) 1fr;
  grid-template-rows: 2fr repeat(4, minmax(100px, 0.85fr));
  align-items: center;
  justify-items: center;
  height: 100%;

}

.homePage {
  grid-column: 2 / 3;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

#leftCol {
  grid-row: 1 / 6;
  grid-column: 1 / 2;
  height: 100%;
  width: 100%;
  background-color: rgb(221, 0, 49);
}

#rightCol {
  grid-row: 1 / 6;
  grid-column: 3 / 4;
  height: 100%;
  width: 100%;
  background-color: rgb(221, 0, 49);
}

img {
  min-width: 50%;
  max-width: 60%;
  padding-top: 3em;
}

/*
  ===================
  Menu Page
  ===================
*/

.menuPage {
  grid-column: 2 / 3;
  display: grid;
  justify-items: center;
}

.menuPage p {
  font-size: 20px;
  margin: 0;
}

/*
  ===================
  Contact Page
  ===================
*/

.contactPage {
  text-align: center;
}

.contactPage p {
  font-size: 20px;
  padding-top: 2em;
}
